@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Kay+Pho+Du&family=Noto+Serif+Old+Uyghur&display=swap');

/* 
    font-family: 'Gabarito', sans-serif;
    font-family: 'Kay Pho Du', serif;
    font-family: 'Noto Serif Old Uyghur', serif;
*/

* {
    font-family: 'Gabarito', 'sans-serif';
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    scroll-padding-top: 120px;
}

header {
    display: flex;
}

body {
    color: black;
    background-color: white;
    background-image: url("../../images/white_flowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/white_flowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.center {
    margin: auto;
    width: 25%;
    height: 60%;
    background-color: white;
    border: 3px solid rgb(212, 219, 144);
    padding: 10px;
    height: 300px;
  }

  table{
    margin: auto;
    height: 300px;
  }

  td {
    width: 50px;
    margin: auto;
  }

  .info {
    height: 400px;
    width: 300px;
  }
    
  .accountinfo {
    margin-left: 40% ;
    background-color: white;
    display: inline-block;
    border: 3px solid rgb(212, 219, 144);
    text-align: center;
    padding-bottom: 3%;
}

    .userinput{
        display: flex;
        margin-top: 2%;
    }

  .accountinfo::after{
    content: "";
    clear: both;
    display: table;
}

input[type=button] {
    background-color: rgb(212, 219, 144);
    width: 80px;
    height: 40px;
  }

  input[type=submit] {
    background-color: rgb(212, 219, 144);
    width: 80px;
    height: 40px;
  }

  input[name=create] {
    width: 250px;
    height: 40px;
  }

.card {
    background-color: white;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.625rem;
    max-width: 12rem;
    position: relative;
    overflow: hidden;
    transition: transfom 200ms ease-in;
}

.cardimage {
    height: 8rem;
    object-fit: cover;
    width: 100%;
    image-resolution: 300dpi;
}

.cardtitle {
    margin: 0.1rem;
    padding: 0 1rem;
    font-family: 'Noto Serif Old Uyghur', 'serif';
}

.carddescription {
    margin: 0.1rem;
    font-weight: 100;
    padding: 0 1rem;
    font-family: 'Kay Pho Du', serif;
    font-style: italic;
}

.cardbody {
    flex-grow: 1;
}

.cardbutton {
    background: transparent;
    border: 0.125rem solid;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    transition:
        background 200ms ease-in,
        color 200ms ease-in;
    width: 80%;
    font-family: 'Kay Pho Du', serif;
}

.cardprice {
    padding: 0 1rem;
    font-size: 2rem;
    font-family: 'Noto Serif Old Uyghur', serif;
}

.cardquantityAvail {
    padding: 0 1rem;
    font-size: 0.7rem;
    font-family: 'Noto Serif Old Uyghur', serif;
}

.card:hover {
    transform:scale(1.02);
}

.cardbutton:hover {
    background: green;
    color: white;
}

.container {
    display:flex;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,14rem));
    grid-gap: 0.2rem;
    justify-content: center;
    background-color: #eaeaea;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.category {
    background-color: white;
    display: flex;
    font-family: 'Noto Serif Old Uyghur', serif;
    justify-content: center;
    border-radius: 0.625rem;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

nav {
    background-color: white;
    border-color:rgba(0, 0, 0, 0.202);
    border-style: solid;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    width: 100%;
    font-size: 20px;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content:center;
    list-style: none;
    margin: 0.5rem;
    width: 100%;
}

nav li {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

nav li:hover {
    color: green;
}

nav a {
    height: 100%;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.title {
    font-size: 18px;
    margin-left: auto;
    justify-content: flex-start;

}

.searchBar {
    height:100%;
    width:100%;
    background-color: white;
}

#Search {
    width: 20rem; 
    display: flex; 
    align-items: center
}

.sortSelect {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.menuButton {
    display: none;
}

.announcement {
    width: 100%;
    border: 0.125rem;
    border-style: double;
    background-color: rgb(212, 219, 144);
    text-align: center;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

@media(max-width: 600px)
{
    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }
}

@media(max-width: 400px)
{
    .sidebar {
        width:100%;
    }
}
